<footer>
  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12">
          <h3>LYCÉE VIVIANI</h3>
          <p class="pr-5 text-white-50 subtitle">
            Pour suivre toute notre actualités,
            <br />
            suivez-nous sur les réseaux sociaux !
          </p>
          <ul class="social">
            <li>
              <a
                href="https://www.facebook.com/pages/Lyc%C3%A9e-Professionnel-Viviani/149247771777568"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/LyceeViviani">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a
                href="https://fr.linkedin.com/company/lycee-professionnel-isabelle-viviani?original_referer=https%3A%2F%2Fwww.google.com%2F"
              >
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Informations</h4>
          <ul class="m-0 p-0">
            <li>
              <a href="{{ path('app_news') }}">Actualités</a>
            </li>
            <li>
              <a href="https://www.education.gouv.fr/calendrier-scolaire-100148"
                >Calendrier</a
              >
            </li>
            <li>
              <a href="#">Formations</a>
            </li>
            <li>
              <a href="#">Règlement</a>
            </li>
            <li>
              <a href="#">Apprentissage</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Contact</h4>
          <p>
            <i class="fa-solid fa-phone"></i>
            &nbsp 03 29 35 29 85
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            &nbsp contact@gmail.fr
          </p>
          <p>
            <i class="fa-solid fa-location-dot"></i>
            &nbsp 75, Rue de Remiremont, 88020 EPINAL
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright text-center">
          <p>
            <small class="text-white-50">
              All Right Reserved &copy; , BBMC Brandon 2023
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
