<nav class="menu">
        
        <div class="logo">VIVIANI</div> 
        <label class="menu-mb" for="btn">
            <span class="fa fa-bars-staggered"></span>
        </label>
        <input type="checkbox" id="btn">
            <ul>
                <li><a href="#">HOME</a></li>
                
                <li>
                    <label for="btn-1" class="burger">LE LYCÉE</label>
                    <a href="#">LE LYCÉE</a>
                    <input type="checkbox" id="btn-1">
                    <ul>
                        <li><a href="#">Actualité</a></li>
                        <li><a href="#">A Propos</a></li>
                        <li><a href="#">Galerie</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-2" class="burger">FORMATIONS</label>
                    <a href="#">FORMATIONS</a>
                    <input type="checkbox" id="btn-2">
                    <ul>
                        <li>
                            <label for="btn-3" class="burger">Cap</label>
                            <a href="#">Cap</a>
                            <input type="checkbox" id="btn-3">
                        <ul>
                            <li><a href="#">Logistique</a></li>
                            <li><a href="#">Equipier Polyvalent</a></li>
                        </ul>
                        </li>
                        <li>
                            <label for="btn-4" class="burger">Bac Pro</label>
                            <a href="#">Bac Pro</a>
                            <input type="checkbox" id="btn-4">
                            <ul>
                                <li><a href="#">Commerce</a></li>
                                <li><a href="#">Vente</a></li>
                                <li><a href="#">Logistique</a></li>
                                <li><a href="#">Assitance  à la gestion</a></li>
                                <li><a href="#">Métier d'acceuil</a></li>
                                <li><a href="#">Mention Complémentaire</a></li>
                            </ul>
                        </li>
                        <li><a href="#">U.L.I.S</a>
                        <li><a href="#">Section Euro</a>
                        <li><a href="#">UP2A</a>
                        <li><a href="#">UF2S</a>
                    </ul>
                </li>
                <li>
                    <label for="btn-5" class="burger">VIE AU LYCÉE</label>
                    <a href="#">VIE AU LYCÉE </a>
                    <input type="checkbox" id="btn-5">
                    <ul>
                        <li><a href="#">C.D.I</a></li>
                        <li><a href="#">Internat</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-6" class="burger">APPRENTISSAGE</label>
                    <a href="#">APPRENTISSAGE</a>
                    <input type="checkbox" id="btn-6">
                    <ul>
                        <li><a href="#">Apprentis</a></li>
                        <li><a href="#">Formation Continue</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="contact"><i class="fa-solid fa-envelope"></i> Contact</a>
                </li>
                <li>
                    <a href="https://cas.monbureaunumerique.fr/login" class="login"><i class="fa-solid fa-user"></i> Connecter</a>
                </li>
                
            </ul>
        
    </nav>