<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">VIVIANI</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <div class="hamburger-toggle">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_main')}}">Home</a>
          </li>
       
          {{dump(categories)}} 
          <!-- Start partie 1 -->
          {% for category in categories %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">{{ category.name }}</a>
            {% if category.parent is not %}
                <ul class="dropdown-menu shadow">
                <li><a class="dropdown-item" href="#">tyty</a></li>
                <li><a class="dropdown-item" href="blog.html"></a></li>     
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            {% endif %}
          </li>
          <!-- End partie 1 -->
        {% endfor %} 
         <!-- Partie 2 -->
        
          <!-- fin 2 -->
         
        </ul>
        
       <a class="navbar-brand" href="{{ path('app_contact')}}"><i class="fa-solid fa-envelope"></i>Contact</a>
       <a class="navbar-brand" href="https://cas.monbureaunumerique.fr/login"><i class="fa-solid fa-user"></i> Connecter</a>
      </div>
    </div>
  </nav>
  <script>document.addEventListener('click',function(e){
    // Hamburger menu
    if(e.target.classList.contains('hamburger-toggle')){
      e.target.children[0].classList.toggle('active');
    }
  })</script>