{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <section class="container-fluid auth">
        <div class="input col-md-3 right">

            <h3 class="mb-3 font-weight-normal title">Réinitialisation du mot de passe envoyé !</h3>
            <p>
                Nous avons bien enregistré votre demande de changement de mot de passe.
                Veuillez vérifier votre boîte de mail pour accéder au lien de confirmation.
                <br>
                <br>
                Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou

                <a href="{{ path('app_forgot_password_request') }}" class="verify">essayer à nouveau !</a></p>
        </div>
    </section>
{% endblock %}
