{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}



{% block body %}

<!-- Start Header -->
    <header class="header">
        
        <!-- Start Banner -->
        <div class="banner" style="background-image: url(./public/img/viviani.png);">
            <div class="color-overlay d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <h1 class=".auto-typing">Lycee Viviani</h1>
                        <p class="subtitle ">
                            Lorem Ipsum is simply dummy text of the printing and <br>
                            typesetting industry. Lorem Ipsum has been the industry's <br>
                            standard dummy text ever since the 1500s, when an
                        </p>
                    </div>
                </div>   
            </div>
            
            <a href="#" class="btn btn-primary">A Propos</a>
            
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->
{% endblock %}
