*{
 font-family: 'Nunito', sans-serif;
}
header{
    background-image: url('../img/login.jpg');
    background-size: 60vw 100vh;
    background-repeat: no-repeat;
    background-color: #e7e7e7;    
    top: 0;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}
.input {
    float: right;
    width: 30%;
    margin-right: 5%;
    margin-top: 10%;
    padding: 20px;   
  }
.title{
    color: rgba(248, 161, 36, 1);
    font-weight: 900;
    font-size: 2rem;
}
.sous-title {
    color: rgba(0, 0, 0, 0.695);
    font-weight: bold;
    font-size: 1.5rem;
}
.bloc-text{
    margin-bottom: 30px;
}
.form-label {
    font-size: 0.8rem;
    font-weight: 500;
}
.form-control{
    background: rgba(20, 20, 21, 0.084) !important;
}
.form-control:focus{
    border-color: rgba(248, 161, 36, 1) !important;
    box-shadow: 0 0 0 .05rem rgba(248, 161, 36, 1) !important;
}
.btn {
    background: rgba(248, 161, 36, 1) !important;
    color: #e7e7e7 !important;
    font-weight: 900;
    margin-top: 10px;  
}
.btn:focus{
    background: #e7e7e7 !important;
    color: rgba(248, 161, 36, 1) !important;
}

