.menu {
    background-color: rgba(1, 17, 64, 1);
    font-family: 'Nunito', sans-serif;
}

.menu::after {
    content: '';
    clear: both;
    display: table;
}
.menu .logo {
    float: left;
    color: yellow;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
.menu ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
.menu ul li {
    float: left;
    display: inline-block;
    background: rgba(1, 17, 64, 1);
    margin: 0 5px;
}
.menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 70px;
}
.menu ul li a {
    color: #e7e7e7;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
.menu ul li a:hover {
    color: rgba(248, 160, 36, 1);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(248, 160, 36, 0.708),
                        rgba(248, 160, 36, 0.708);
}
.menu ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
.menu ul ul li {
    position: relative;
    margin: 0;
    width: 250px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(98, 134, 243, 0.445);
}
.menu ul ul ul li {
   position: relative;
   top: -70px;
   left: 150px;
   border-top: none;
}
.menu ul ul ul {
    border-top: none;
}
.menu ul ul li a {
    line-height: 50px;
    font-size: 15px;
}
.menu ul ul li a:hover {
    color: rgba(248, 160, 36, 1);
    box-shadow: none;
}
.contact {
    color: rgba(248, 160, 36, 1) !important;
    border: 1px solid rgba(248, 160, 36, 1);
    border-radius: 50px;
}
.contact:hover {
    background-color: rgba(248, 160, 36, 1);
    color: #e7e7e7 !important;
    border: none;
    border-radius: 100px !important;
}
.login {
    background-color: rgba(248, 160, 36, 1);
    color: rgba(248, 160, 36, 1);
    border: none;
    border-radius: 50px;
}
.login:hover {
    background-color: transparent;
    color: rgba(248, 160, 36, 1);
    border: 1px solid rgba(248, 160, 36, 1);
    border-radius: 100px !important;
    
}
#burger, .menu-mb, input {
    display: none;
}
@media all and (max-width: 992px) {
    .menu ul {
        margin-right: 0;
        float: left;
    }
    .menu .logo {
        padding-left: 30px;
        width: 100%;
    }
    .menu ul li, .menu ul ul li {
        display: block;
        width: 100%;
    }
    .menu ul ul {
        top: 70px;
        position: static;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .menu ul ul ul li {
        position: static;
    }
    .menu ul ul ul a {
        padding-left: 80px;
    }
    .burger {
        display: block;
        color: #e7e7e7;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .burger:hover {
        color: rgba(248, 160, 36, 1);
    }
    .menu-mb {
       display: block; 
       color: #e7e7e7;
       position: absolute;
       right: 40px;
       line-height: 70px;
       font-size: 25px;
       cursor: pointer;
    }
    .menu ul li a:hover {
        box-shadow: none;
    }
    .burger + a, ul {
        display: none;
    }
    [id^=btn]:checked + ul {
        display: block;
    }
}
