body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
/*======================= Start Navbar ========================*/
.menu {
    background-color: rgba(1, 17, 64, 1);
    font-family: 'Nunito', sans-serif;
    text-decoration: uppercase;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.menu::after {
    content: '';
    clear: both;
    display: table;
}
.menu .logo {
    float: left;
    color: yellow;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
.menu ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
.menu ul li {
    float: left;
    display: inline-block;
    background: rgba(1, 17, 64, 1);
    margin: 0 5px;
}
.menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 70px;
}
.menu ul li a {
    color: #e7e7e7;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
.menu ul li a:hover {
    color: rgba(248, 160, 36, 1);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(248, 160, 36, 0.708),
                        rgba(248, 160, 36, 0.708);
}
.menu ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
.menu ul ul li {
    position: relative;
    margin: 0;
    width: 250px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(98, 134, 243, 0.445);
}
.menu ul ul ul li {
   position: relative;
   top: -70px;
   left: 150px;
   border-top: none;
}
.menu ul ul ul {
    border-top: none;
}
.menu ul ul li a {
    line-height: 50px;
    font-size: 15px;
}
.menu ul ul li a:hover {
    color: rgba(248, 160, 36, 1);
    box-shadow: none;
}
.contact {
    color: rgba(248, 160, 36, 1) !important;
    border: 1px solid rgba(248, 160, 36, 1);
    border-radius: 50px;
}
.contact:hover {
    background-color: rgba(248, 160, 36, 1);
    color: rgba(1, 17, 64, 1) !important;
    border: none;
    border-radius: 100px !important;
}
.login {
    background-color: rgba(248, 160, 36, 1);
    font-size: 10px;
    color: rgba(1, 17, 64, 0.75) !important;
    border: none;
    border-radius: 50px;
}
.login:hover {
    background-color: transparent;
    color: rgba(248, 160, 36, 1) !important;
    border: 1px solid rgba(248, 160, 36, 1);
    border-radius: 100px !important;
    
}
.burger,.menu-mb,input {
    display: none;
}
@media screen and (max-width: 992px) {
    .menu ul {
        margin-right: 0;
        float: left;
    }
    .menu .logo {
        padding-left: 30px;
        width: 100%;
    }
    .menu ul li, .menu ul ul li {
        display: block;
        width: 100%;
        border: none;
    }
    .menu ul ul:focus {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible; 
    }
    .menu ul ul ul li {
        position: static;
    }
    .menu ul ul ul a {
        padding-left: 80px;
    }
    .burger {
        display: block;
        color: #e7e7e7;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .burger:hover {
        color: rgba(248, 160, 36, 1);
    }
    .menu-mb {
       display: block; 
       color: #e7e7e7;
       position: absolute;
       right: 40px;
       line-height: 70px;
       font-size: 25px;
       cursor: pointer;
    }
    .menu ul li a:hover {
        box-shadow: none;
    }
    .burger + a, ul {
        display: none;
    }
    [id^=btn]:checked + ul {
        display: block;
    }
}
@media  screen and (max-width: 1200px) {
    .menu ul li a {
        font-size: 15px;
        padding: 5px 5px;
    }
}
/*======================= End Navbar ========================*/

/*======================= Start Homepage ========================*/
#main {
    background-color: aqua;
}
#course {
   
    height: 100vh;
}
#service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 80px;
    background: fixed;
}

#service h2 {
    color: rgba(1, 17, 64, 1);
    font-size: 3em;
    font-weight: 700;
    margin: 25px 0;
    text-align: center;
    
}
#service span {
    font-size: 16px;
    width: 800px;
    color: rgba(1, 17, 64, 0.571);
}
.content__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 50px;
}
.cards {
    /* min-height: 220px; */
    height: 180px;
    width: 320px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 15px 15px 25px rgba(1, 17, 64, 0.571);
    transition: 0.3s;
}
.cards i {
    margin: 20px;
    color: rgba(248, 160, 36, 1);
}
.cards h3 {
    font-size: 20px;
    margin-bottom: 12px ;
    font-weight: 400;
    text-align: center;
}
.cards p {
    font-size: 15px;
    color: rgba(1, 17, 64, 1);
    text-align: center;
}

.cards:hover i,
.cards:hover p {
    color: #e7e7e7;
}
.cards:hover h3 {
    font-weight: 700;
    color: orange;
}
.cards:nth-child(1):hover {
    background:linear-gradient(45deg,rgba(1, 17, 64, 0.6) 0%, rgba(1, 17, 64, 0.9) 100%), url('../img/services/service1.jpg');
                                                                       
    background-size: cover;                              
}
.cards:nth-child(2):hover {
    background:linear-gradient(45deg,rgba(1, 17, 64, 0.6) 0%, rgba(1, 17, 64, 0.9) 100%), url('../img/formations.jpg');
                                                                       
    background-size: cover;                              
}
.cards:nth-child(3):hover {
    background:linear-gradient(45deg,rgba(1, 17, 64, 0.6) 0%, rgba(1, 17, 64, 0.9) 100%), url('../img/formations.jpg');
                                                                       
    background-size: cover;                              
}
.cards:nth-child(4):hover {
    background:linear-gradient(45deg,rgba(1, 17, 64, 0.6) 0%, rgba(1, 17, 64, 0.9) 100%), url('../img/formations.jpg');
                                                                       
    background-size: cover;                              
}
.cards:nth-child(5):hover {
    background:linear-gradient(45deg,rgba(1, 17, 64, 0.6) 0%, rgba(1, 17, 64, 0.9) 100%), url('../img/formations.jpg');
                                                                       
    background-size: cover;                              
}
.cards:nth-child(6):hover {
    background:linear-gradient(45deg,rgba(1, 17, 64, 0.6) 0%, rgba(1, 17, 64, 0.9) 100%), url('../img/formations.jpg');
                                                                       
    background-size: cover;                              
}
@media screen and (max-width: 991px) {
    #service {
        padding: 25px;
        margin-top: 10px;
    }
    #service h2 {
        font-size: 2.5em;
        font-weight: 600;
    }
    #service span {
        width: 100%;
    }
    .content__box {
        flex-direction: column;
        width: 100%;
    }
    .cards {
        min-width: 300px;
        margin: 10px auto;
    }
}
/*======================== section news ========================*/
#news {
    position: relative;
    padding-top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-image: url('/assets/img/news.jpg');
    z-index: -99;
}
#news::after {
    position: absolute;
    content: "";
    background: rgba(1, 17, 64, 0.358);
    width: 100%;
    height: 100%;
    top: 0;
}
#news h2 {
    font-size: 3em;
    font-weight: 700;
}
.card__container {
    position: inherit;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.card__news {
    border-radius: 0;
    border: 0;
    color: #e7e7e7;
    background: rgba(31, 10, 78, 1);
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(248, 161, 36, 1);
}
.card__news a {
    color: #e7e7e7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn__news {
    background: rgba(248, 161, 36, 1);
    border: 1px solid rgba(248, 161, 36, 1);
    height: 30px;
}
.card__news img {
    height: 200px;
}
@media screen and (max-width:767px) {
    #news {
        height: 20vh;
        width: 100%;
        
    }
    #news h2 {
        font-size: 20px;
        font-weight: 700;
    }
    .card__container {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width:768px){
    #news h2 {
        font-size: 30px;
        font-weight: 700;
    }
    
}
/*======================== End Section News ========================*/

/*======================== Start Section Description ========================*/
#description {
    height: auto;
    width: 100%;
    background-color: #e7e7e7;
    color: rgba(1, 17, 64, 1);
    /* position: relative; */
}
#description .container {
    padding-top: 70px;
}
.description__left {
    text-align: center;
}
.description__text {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.description__text__right {
    display: flex;
    flex-direction: column;
    width: 80%;
    float: right;
}
.description__text__right a {
    display: block;
    float: left;
}
.description-content{
    height: 100vh; 
}
.description__img {
    box-shadow: 2px 2px 10px rgba(31, 10, 78, 0.7);
}
#description h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.description_lib {
    background-color: rgba(248, 160, 36, 1);
    border: none;
    font-weight: 700;
    font-size: 12px;
    color: #f7f7f7;
    transition: .1s;
    border-radius: 10px;
    text-shadow: 0px 1px 5px rgba(1, 17, 64, 1);
    letter-spacing: 2px;
    box-shadow: 1px 1px 5px rgba(1, 17, 64, 1);
}
 .description_lib:hover {
    background-color: transparent;
    border: 2px solid rgba(248, 160, 36, 1);
    color: rgba(248, 160, 36, 1);
    box-shadow: none;   
}
@media screen and (min-width: 992px){
    #description p {
        font-size: 18px;
        width: 100%;
        line-height: 30px;
    }
    #description h3 {
        font-size: 2rem;
        align-content: center;
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) and (max-width: 990px){
    #description p {
        font-size: 12px;
        width: 100%;
        line-height: 20px;
    }
    #description h3 {
        font-size: 22px;
        align-content: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px)
{
    .description__text p {
        font-size: 16px;
        font-size: bold;
        width: 100%;
    }
    #description h3 {
        /* background-color: green; */
        font-size: 25px;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .description__text__right{
        font-size: 16px;
        font-size: bold;
        float: left;
        width: 100%;
    }
}
.contact__text h3 {
    margin-top: 200px;
    font-size: 3rem;
    font-weight: 700;
}

#contact {
    background-color: #e7e7e7;
}
.color__title {
    color: rgba(248, 160, 36, 0.8);
}
.font__title {
    color: rgba(1, 17, 64, 0.8);
}
.contact__img {
    padding: 50px;
    margin: 15px;
}
.style {
    padding-top: 20px;
    color: rgba(1, 17, 64, 1);
    font-weight: 500;
    font-size: 20px;
}
.contact__img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
@media screen and (max-width: 767px) {
    .contact__text h3 {
        margin-top: 100px;
        font-size: 30px;
        font-weight: 700;
    }
    .contact__img img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    }
    .style {
        padding-top: 10px;
        color: rgba(1, 17, 64, 1);
        font-weight: 500;
        font-size: 15px;
    }
}
/* Start Design Cursor */
.bulle {
    position: absolute;/* inset c'est l'ensemble du top et du left */
    inset: 0; 
    border: 2px solid rgba(248, 160, 36, 0.708);
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: none; 
    z-index: 1;
}
body,html {
    height: 100%;
    width: 100%
}
.banner{
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.auto-typing {
    color: rgba(248, 161, 36, 1);
    font-size: 4rem;
}
.subtitle {
    font-size: 1rem;
}
.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 17, 64, 0.358);
}
@media (max-width: 768px){
    .banner {
        min-height: 60vh;
    }
    .auto-typing{
        font-size: calc(1.525rem + 3.3vw);
    }
    
}
/*======================= End Design Cursor ========================*/

/*======================= End Homepage ========================*/

/*======================= Start About (Blog) ========================*/

#blog{
    padding-top: 90px;   
}
.title {
    color: rgb(248, 160, 36);
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    padding-bottom: 70px;
    /* text-shadow: 2px 2px 5px #000; */
}
.subtitle-blog {
    color: rgba(1, 17, 64, 0.571);
    line-height: 40px;
    font-size: 15px;
    font-weight: 700;
}
@media screen and (max-width: 767px) {
    .title {
        font-size: 5rem;
    }
   #blog {
    padding-top: ;
   }
}
@media screen and (min-width: 768px) {
    .title {
        font-size: 7rem;
    }
    .subtitle-blog {
        font-size: 20px;
    }
    #blog {
        padding-top: 160px;
    }
    
}

.blog-content {
    background: transparent !important;
    border: none;
    color: rgb(1, 17, 64);
    font-weight: 600;
    
}
.blog-content .blog-img{
    height: 280px;
    border-radius: 10px 10px 0 0;
    box-shadow: 4px 4px 4px rgba(248, 160, 36, 0.858) ;
}

.btn-blog {
    text-decoration: none;
    
    font-size: 15px;
    font-weight: bolder;
    font-family:'Nunito', sans-serif;
    color: rgb(104, 104, 233);
}
.btn-blog:hover {
    color: rgba(248, 161, 36, 1);
}
/*======================== End About (Blog) ========================== */

/* ======= Start Articles (Blog) ========================*/

/*======================= End Articles (Blog) ======================== */

/*======================= Start Gallery======================== */
#gallery {
    background-color: #e7e7e7;
    margin: 0;
    padding: 50px;
}
.galery {
    display: flex;
    flex-wrap: wrap;
}
.galery .column {
    flex: 25%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
    
    
}
.galery .column img {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    cursor: pointer;
    filter: contrast(70%) brightness(0.5);
    transition: 0.3s linear;
}
.galery .column img:hover {
    filter: grayscale(0) brightness(1);
}

@media screen and (max-width: 800px)
{
    .galery .column {
        flex: 50%;margin-top: 0;
    }
    
    
}
@media only screen and (max-width: 600px)
{
    .galery .column {
        flex: 100%;
        
    }
    .galery .column img {
        filter: none;   
    }
    
    
    
}

.title-gallery h1{
    
    font-size: 2rem;
    width: 60%; 
    line-height: 200px;
    color: rgba(248, 161, 36, 1);
    border-bottom: 2px solid rgba(248, 161, 36, 1);
    
    /* text-shadow: 1px 2px 5px #000; */
}

.content-gallery p {
    text-align: left;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(1, 17, 64, 0.571);;
}
@media screen and (max-width: 767px){
    .title-gallery h1 {
        font-size: 3rem;
        width: 100%;
        line-height: 100px;
        padding-top: 50px;
    }
    .content-gallery{
        font-size: 15px;
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .title-gallery h1 {
        font-size: 5rem;
        width: 80%;
        
    }
    .content-gallery{
        padding: 50px;
        font-size: 15px;
        width: 50%;
    }
}
/* ======================= End Gallery ======================== */

/* ======================= Start Contact ======================== */
.contact__header{
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35vh;
    position: relative;
    color: white;
}
.contact__header h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}
.contact__title p {
    margin: 20px 0 80px ;
    color: #e7e7e7;
    font-size: 1.2rem;
    line-height: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
.contact__content {
    background-color: rgba(1, 17, 64, 1);
    padding: 100px;
    position: relative;
    height: 65vh;    
}
.contact__content h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(248, 161, 36, 1);
    letter-spacing: 2px;
}
.contact__card {
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    margin-right: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.697);
    width: 100%;
    margin-top: 0;
    
}
.contact__card .row {
    margin-top: -30px;
}
.contact__card input {
    color: yellow;
}
.contact__card input:focus {
    color: rgba(1, 17, 64, 1);
}
.contact__number {
    margin-top: -20px;
}

.map {
    padding-top: 300px;
}
.map h2 {
    font-size: 40px;
}
.mapping {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 97%;
    height: 654px;
    position: relative;
    display: inline-block;
}

.card__contact {
    font-size: 15px;
    height: 300px;
    width: 300px;
    border: 0;
    box-shadow: 1px 1px 5px  rgba(32, 10, 78, 0.506);
}
.card__contact .address_item img {
    height: 20px;
    width: 20px;
    align-items: center;
}
.card__contact .address_item i {
    color: rgba(47, 100, 253, 1);
}
.card__contact .address_item {
    list-style-type: none;
}
.btn__address {
    background: transparent;
    border: 1px solid rgba(47, 100, 253, 1);
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
}
.btn__address:hover {
    background: rgba(47, 100, 253, 1);
    color: #fff;
}
@media screen and (max-width: 575px) {
    .contact__card {
        position: relative;
        margin-right: auto;
        width: 100%;
        margin-top: 60px;
        height: 500px;
    }
}
@media screen and (max-width: 767px) {
    .contact__header h2 {
        font-size: 2rem;
    }
    .contact__content {
        padding: 15px;
        position: relative;
        height: 106vh;    
    }
    .contact__content h1 {
        font-size: 30px;
    }
    .contact__title p {
        margin: 20px 0 80px ;
        font-size: 16px;
        padding-bottom: 15px;
    }
    .contact__card {
        position: relative;
        margin: auto;
        width: 70%;
        margin-top: 60px;
        height: 500px;
    }
    .contact__card input {
        font-size: 10px;
    }
    .contact__card textarea {
        font-size: 10px;
    }
    .contact__card .btn {
        margin: -10px;
    }
    .row h3 {
        padding-top: 40px;
    }
    .map {
        padding-top: 170px;
    }
    .map h2 {
        font-size: 30px;
        margin: 30px 0px;
    }
    #section__address {
        margin-top: -420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card__contact {
        width: 250px;
    } 
}
@media screen and (min-width: 768px) {
    .contact__content h1 {
        font-size: 35px;
    }
    .contact__title p {
        font-size: 18px;
    }
    .contact__content {
        padding: 70px;
    }
    .contact__card input {
        font-size: 10px;
    }
    .contact__card textarea {
        font-size: 10px;
    }
    .map h2 {
        margin: 50px 0px;
    }
    #content__contact {
        margin-top: -330px;
    }
}
@media screen and (min-width: 992px) {
    #content__contact {
        margin-top: -180px;
    }
}
@media screen and (min-width: 1200px) {
    .contact__content h1 {
        font-size: 52px;
    }
    .contact__content p {
        font-size: 20px;
        line-height: 35px;
    }
    #content__contact {
        margin-top: -90px;
    }
    .contact__card {
        margin-left: 100px;
        width: 90%;
    }
}
@media screen and (min-width: 1400px) {
    #content__contact {
        margin-top: 0;
    }
    .contact__card {
        margin-left: 200px;
        width: 60%;
    }
}

/* ======================= End Contact ======================== */

/* ======================= Start Footer ========================*/
footer {
    background: rgba(1, 17, 64, 1);
    color: #e7e7e7;
    width: 100vw;
    margin-top: -49px;
}
.social {
    padding: 0;
}
 footer h3,.subtitle{
    color: rgba(248, 161, 36, 1) !important;
    
}
footer h3 {
    font-size: 30px;
}
h4 {
    padding: 15px 0;
    color: #e7e7e7;
}
.social li {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 30px;
    padding: 0cm;
    text-align: center;
    background-color: rgba(1, 17, 64, 1);
}
.social li a i {
    padding-top: 4px;
    color: rgba(248, 161, 36, 1);
    transition: .3s;
    font-size: 25px;
}
.social li a i:hover {
    color: #e7e7e7;
    text-decoration: none;
}
.footer .links ul {
    list-style-type: none;
}
.footer .links li a {
    color: #e7e7e7;
    transition: color 0.2s;
    text-decoration: none;
}
.footer .links li a:hover {
    color: rgba(248, 161, 36, 1);
}
.footer .location i{
    font-size: 15px;
    color: #e7e7e7;
}
.footer .copyright p {
    font-size: 1rem;
    text-shadow: 1px 1px black;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;  
}
/* ======================== End Footer ========================*/

/* ======================== Start Library ========================*/
.home__life {
    padding-top: 108px;
    color: rgb(32, 10, 78);
}

#picture img {
    width: 80%;
    height: 600px;
    object-fit: cover;
}
.section__right h1 {
    margin-top: 50px;
    font-weight: 800;
}
.section__right span {
    color: rgba(1, 17, 64, 0.796);
}
.body__logo li {
    height: 40px;
    width: 40px;
    background: orange;
    margin: 75px 0;
    border-radius: 50px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__logo li img {
    height: 30px;
    width: 30px;
    margin-left: -30px;
}
.body__content li {
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 20px;
    color: rgba(1, 17, 64, 0.824);
}
.body__content h5 {
    font-size: 20px;
    font-weight: 800;
}
.content__right {
    margin-top: 65px;
}
@media screen and (max-width: 767px) {
    .block__reverse {
        flex-direction: column-reverse;
    }
    .section__left {
        padding: 30px 0px;
    }
    .home__life {
        padding-top: 80px;
    }
    .section__right span {
        font-size: 15px;
    }
    .content__right li {
        font-size: 13px;
    }
    .content__right {
        margin-top: 0px;
    }
    #picture img {
        width: 80%;
        height: auto;
        object-fit: cover;
    }
}
@media (min-width: 769px) and (max-width: 990px){
    #picture img {
        width: 90%;
        height: 600px;
        object-fit: cover;
        padding: 40px 100px;
    }
    .section__right span {
        font-size: 15px;
    }
    .content__right li {
        font-size: 14px;
    }
    .body__logo li {
        margin: 60px 0px;
    }
    .home__life {
        padding-top: 60px;
    }
    .block__reverse {
        flex-direction: column-reverse;
    }
}
@media screen and (min-width: 992px) {
    #picture img {

        height: 535px;

    }
    .body__content li {
        font-size: 13px;
    }
    .section__right h1 {
        margin-top: 25px;
    }
    .section__right span {
        font-size: 15px;
    }
    .content__right {
        margin-top: 0px;
    }
} 
#library {
    height: auto;
    width: 100%;
    background-color: rgba(255, 247, 243, 1);
    color: rgba(1, 17, 64, 1);
    /* position: relative; */
}
#library .container {
    padding-top: 70px;
}
.lib__left {
    text-align: center;
}
.lib__text {
    display: flex;
    flex-direction: column;
}
.library-content{
    height: 100vh; 
}
#library h3 {
    font-size: 30px;
    font-weight: 900;
}
.button_lib {
    /* width: 200px; */
    background-color: rgba(248, 160, 36, 1);
    border: none;
    font-weight: 700;
    font-size: 12px;
    color: #f7f7f7;
    transition: .1s;
    border-radius: 10px;
    /* text-shadow: 0px 1px 5px rgba(1, 17, 64, 1); */
    letter-spacing: 2px;
    box-shadow: 1px 1px 5px rgba(1, 17, 64, 1);
}
 .button_lib:hover {
    background-color: transparent;
    border: 2px solid rgba(248, 160, 36, 1);
    color: rgba(248, 160, 36, 1);
    box-shadow: none;   
}

@media screen and (max-width: 992px){
    #library p {
        font-size: 13px;
        
    }
    #library h3 {
        background-color: yellow;
        font-size: 25px;
    }
}
@media screen and (min-width: 768px){
    #library p {
        font-size: 13px;
        
    }
    #library h3 {
        background-color: yellow;
        font-size: 20px;
    }
}


@media screen and (max-width: 767px)
{
    .lib__text p {
        font-size: 16px;
        font-size: bold;
    }
    #library h3 {
        /* background-color: green; */
        font-size: 25px;
    }
}



/* ======================== End Library ========================*/


/*======================== Start About ========================*/

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockY {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
#container__about {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    /* Pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
 }
 ::-webkit-scrollbar {
    display: none;
 }
 #text__modify {
    position: relative;
    z-index: 1;
 }
.one {
    position: relative;
    background: url('../img/viviani.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.one::after {
    position: absolute;
    content: "";
    background: rgba(1, 17, 64, 0.350);
    width: 100%;
    height: 100%;
    top: 0;
}
.one h4 {
    color: rgba(248, 161, 36, 1);
    font-size: 60px;
    font-weight: 800;
    position: inherit;
}
.one p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    color: #e7e7e7;
    padding: 50px 50px;
    position: inherit;
}
.two{
    position: relative;
    background: url('../img/cursus.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.two::after {
    position: absolute;
    content: "";
    background: rgba(1, 17, 64, 0.495);
    width: 100%;
    height: 100%;
    top: 0;
}
.two h4 {
    color: rgba(248, 161, 36, 1);
    font-size: 60px;
    font-weight: 800;
}
.two p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    color: #e7e7e7;
    padding: 50px 50px;
    position: inherit;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .one h4 {
        font-size: 40px;
    }
    .one p {
        font-size: 16px;
        padding: 25px 50px;
    }
    .two h4 {
        font-size: 40px;
    }
    .two p {
        font-size: 16px;
        padding: 25px 50px;
    }
}
.desciption__about {
    margin: 0px 100px;
    
}
.three {
    background: rgb(104, 104, 233);
}
.four {
    background: rgba(248, 160, 36, 0.858);
}
/*======================== End About ========================*/






/*======================== Auth ========================*/
.auth{
    background-image: url('../img/login.jpg');
    background-size: 60vw 100vh;
    background-repeat: no-repeat;
    background-color: #000000;
    top: 0;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: #e7e7e7;
}
.input {
    float: right;
    width: 30%;
    margin-right: 5%;
    margin-top: 10%;
    padding: 20px;   
  }
  .title{
    color: rgba(248, 161, 36, 1);
    font-weight: 900;
    font-size: 2rem;
}
.sous-title {
    color: #e7e7e79e;
    font-weight: bold;
    font-size: 1.5rem;
}
.bloc-text{
    margin-bottom: 30px;
}
.form-label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #e7e7e7b7;
}
.form-control{
    background: rgba(151, 151, 159, 0.084) !important;
    border: 1px solid rgba(151, 151, 159, 0.084) !important;
    color: #e7e7e7 !important;
}
.form-control:focus{
    border-color: rgba(248, 161, 36, 1) !important;
    box-shadow: 0 0 0 .05rem rgba(248, 161, 36, 1) !important;
}
.btn {
    background: rgba(248, 160, 36, 0.796) !important;
    color: #ffff !important;
    margin-top: 10px;  
}
.btn a {
    text-decoration: none;
    color: #e7e7e7;
}
.btn a:hover{
    color: #e7e7e7;
    font-weight: bold;
    background-color: transparent;
}
.btn:hover{
    background: transparent !important;
    color: rgba(248, 161, 36, 1) !important;
    font-weight: bold;
}
#btn{
    background: rgba(1, 17, 64, 0.844) !important;
}
#btn:hover{
    background: transparent !important;
    color: rgba(248, 160, 36, 1);
}
 #btn a{
    text-decoration: none;
    color: #e7e7e7;
}
.row #btn a:hover{
    background: transparent;
    color: rgba(1, 17, 64, 1) !important;
}
.link {
    color: #e7e7e7;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.link:hover {
    color: rgba(248, 160, 36, 1);
}
.verify {
    color: rgba(248, 160, 36, 1);
    text-decoration: none;
}
.verify:hover {
    color: #e7e7e7;
    background-color: rgba(248, 160, 36, 1);
    padding: 2px 3px;
    border-radius: 5px;
}
/*======================== End Auth ========================*/