
/* .contact__header{
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35vh;
    position: relative;
    color: white;
}
.contact__header h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}
.contact__title p {
    margin: 20px 0 80px ;
    color: #e7e7e7;
    font-size: 1.2rem;
    line-height: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    
}
.contact__content {
    background-color: rgba(1, 17, 64, 1);
    padding: 100px;
    position: relative;
    height: 60vh;    
}
.contact__content h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    color: rgba(248, 161, 36, 1);
    letter-spacing: 2px;
}
.contact__card {
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    margin-right: 100px;
    /* border: 0.5px solid black;  */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.697);
    width: 429px;
    margin-top: 100px;
    
}
.map {
    padding-top: 300px;
}
.map img {
    padding-top: 100px;
    
}
.map h2 {
    font-size: 40px;
}
.mapping {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} */ 


