{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	<!-- Start Header -->
	<header>


		<!-- Start Image Header -->
		<div class="contact__header" style="background-image: url('{{ asset('assets/img/contact-header.png')}}');">
			<div class="color-overlay d-flex justify-content-center align-items-center">
				<div class="container">
					<div class="row">
						<h2 class="text-center">Contactez-nous</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End Image Header -->

		<div class="container-fluid  contact__content">
			<div class="row p-3">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="contact__title">
						<h1>Comment Pouvons Nous Vous Aidez ?</h1>
						<p>Ensemble, explorons les moyens de vous accompagner vers la réussite : bienvenue au lycée !</p>

					</div>
					<div class="row contact__number">
						<h5 class="text-light text-center text-uppercase">Consultation en Ligne</h5>
						<h3 class="text-light text-center">
							<span class="fa fa-phone text-warning"></span>
							&nbsp; 03 29 35 29 85</h3>
					</div>


				</div>


				<!-- Start section right -->
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<form class="contact__card ">
						<!-- Verfifier le row et la  flex -->
						<div class="row d-flex justify-content-center"> 
							<h3 class=" pt-md-5 text-dark text-center">Parler nous de vous</h3>
							<!-- Start Lastname -->
							<div class="col-5  mb-0">
								<label for="contact@gmail.com" class="form-label"></label>
								<input type="lastname" class="form-control text-center" id="lastname" aria-describedby="lastnameHelp" placeholder="Entrer votre nom">
							</div>
							<!-- End Lastname -->

							<!-- Start Firstname -->
							<div class="col-5  mb-0">
								<label for="contact@gmail.com" class="form-label"></label>
								<input type="firstname" class="form-control text-center" id="firstname" aria-describedby="firstnameHelp" placeholder="Entrer votre prénom">
							</div>
							<!-- End Firstname -->

							<!-- Start Email -->
							<div class="col-10  mb-0">
								<label for="chanitebrandon@gmail.com" class="form-label"></label>
								<input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre adresse Email">
							</div>
							<!-- End Email -->

							<!-- Start Message -->
							<div class="col-10 mb-5">
								<label for="exampleFormControlTextarea1" class="form-label"></label>
								<textarea class="form-control text-center" id="exampleFormControlTextarea1" rows="10" placeholder="Entrer votre message .."></textarea>
							</div>
							<!-- End Message -->

							<!-- Start Submit -->
							<div class="d-flex justify-content-center mb-3 pb-5">
								<a href="#" class="btn btn-warning col-10" type="submit">Envoyer</a>
							</div>
							<!-- End Submit -->


						</div>
					</form>
				</div>
				<!-- End section right -->
			</div>
		</div>
	</div>
</header>
<!-- End Header -->

<!-- Start Section Map -->
<section class="container map">
	<h2 class="text-center">Où nous trouver</h2>
	<div class="row">

		<div class="col-sm-12 col-md-12 mapping">
			<img src="{{ asset('assets/img/map.webp')}}" class="img-fluid" alt="carte du monde en 2D">
		</div>
	</div>
</section>	

	<section class="container" id="section__address" >
		<div class="d-md-flex flex-row-reverse py-3" id="content__contact">
			<div class="col-xs-12 col-sm-5 col-md-4  mb-sm-0">
				<div class="card card__contact my-4 ">
					<div class="card-body">
						<h5 class="card-title text-center pb-2">Ouvert</h5>
						<div class="d-flex justify-content-center">
							<div class="col-4">
								<ol class="card-text">
									<li class="address_item my-2">Lun</li>
									<li class="address_item my-2">Mar</li>
									<li class="address_item my-2">Mer</li>
									<li class="address_item my-2">Jeu</li>
									<li class="address_item my-2">Ven</li>
									<li class="address_item my-2">Sam</li>
									<li class="address_item my-2">Dim</li>
								</ol>
							</div>
							<div class="col-8">
								<ol class="card-text">
									<li class="address_item my-2">07:30–18:00</li>
									<li class="address_item my-2">07:30–18:00</li>
									<li class="address_item my-2">07:30–12:00</li>
									<li class="address_item my-2">07:30–18:00</li>
									<li class="address_item my-2">07:30–18:00</li>
									<li class="address_item my-2">Fermé</li>
									<li class="address_item my-2">Fermé</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-5 col-md-4 mb-3 mb-sm-0 ">
				<div class="card card__contact my-4 ">
					<div class="card-body">
						<div class="row">
							<div class="col-2">
								<ol class="card-text my-2">
									<li class="address_item mb-5"><h5><img src="{{ asset('assets/img/flaticon/france.png')}}" alt="localisation de pays"></h5></li>
									<li class="address_item my-5"><i class="fa-solid fa-location-dot"></i></li>
									<li class="address_item my-5"><i class="fa-solid fa-phone"></i></li>
								</ol>
							</div>
							<div class="col-10">
								<ol class="card-text my-2">
									<li class="address_item mb-5"><h5>Épinal</h5></li>
									<li class="address_item my-5">75 Rue de Remiremont</li>
									<li class="address_item my-5">03 29 35 29 85</li>
								</ol>
							</div>
							<div class="d-flex justify-content-center pb-2">
								<a href="https://www.google.fr/maps/place/Lyc%C3%A9e+Isabelle+Viviani/@48.1629309,6.4470714,17z/data=!3m1!4b1!4m6!3m5!1s0x4793a0972c474f61:0xf7bc5d0555fb6314!8m2!3d48.1629274!4d6.4496463!16s%2Fg%2F1tj20glc?entry=ttu" class=" btn__address ">Ouvrir Google Maps</a>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
			
		  
		
	</div>
	</section>
	
        
	


{% endblock %}
